*{
    padding: 0;
    text-decoration: none;
    font-family:monospace;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

header, main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

button {
    background-color: black;
    color: white;
    width: 80px;
    font-size: 20px;
}

button:hover{
    background:rgb(0, 0, 0);
    border: solid 2px rgba(255, 255, 255, 0.534);
    box-shadow: 8px 8px 10px rgba(143, 156, 21, 0.363); 
    color: rgb(231, 228, 14);
    cursor:pointer;
    transition: 0.8s;
}

div , h2 {
    color: rgba(255, 255, 255, 0.582);
    font-size: 20px;
    padding-top: 20px;
}